<h1 id="tableLabel">Products Listing</h1>

<p>Product Listing</p>

<p *ngIf="!products"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="products">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Quantity(F)</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.quantity }}</td>
      <td><span *ngIf=" product.price > 200">*</span>{{ product.price }}</td>
    </tr>
  </tbody>
</table>
